/*game start page*/
.gameStartForm{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 60%;
    height: 60%;
    text-align: center;
}

/*#gameStartSection{
    background-image: url("../images/gamestart.jpeg");
    background-size:cover;
    background-position:center center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}*/

.startHeading{
    color: #dc3545;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Spicy Rice', serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 81px;
}

.levelTitle{
    color: white;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Spicy Rice', serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.levelCount{
    position: relative;
    color: white;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Spicy Rice', serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#btnPlay{
    top: -2px;
}

.startBoardImage{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 572px;
}

.startBoard{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 293px;
}

#headerBar{
    position: absolute;
    top: -120px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    height: 78px;
}

.btnInStart1{
    position: absolute;
    top: 0;
    width: 96px;
    height: 72px;
    left: 110px;
    filter: drop-shadow(-5px 18px 13px black);
}

.btnInStart1Icon{
    position: absolute;
    top: 2px;
    width: 60px;
    height: 59px;
    left: 127px;
    filter: drop-shadow(-5px 18px 13px black);
}

.btnInStart2{
    position: absolute;
    top: 0;
    width: 96px;
    height: 72px;
    right: 130px;
    filter: drop-shadow(-5px 18px 13px black);
}

.btnInStart2Icon{
    position: absolute;
    top: 12px;
    width: 44px;
    height: 40px;
    right: 156px;
    filter: drop-shadow(-5px 18px 13px black);
}

.barInStart{
    position: absolute;
    top: -35px;
    width: 150px;
    height: 133px;
    filter: drop-shadow(-5px 18px 13px black);
}

.startSideBoard{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 364px;
    filter: drop-shadow(-5px 18px 13px black);
}

#scoreCount{
    color: white;
    position: absolute;
    text-align: center;
    left: 191px;
    top: 13px;
    width: 100px;
    height: 43px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#levelCount{
    color: white;
    position: absolute;
    text-align: center;
    right: 45px;
    top: 13px;
    width: 100px;
    height: 43px;
    z-index: 1;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#levelBoard{
    position: absolute;
    top: 139px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 168px;
}

#woodenLevelBoard{
   position: absolute;
    top: -38px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 385px;
}

.tomatoInStart{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    filter: drop-shadow(-5px 18px 13px black);
}

#tableDiv{
    position: absolute;
    top: 35%;
    left: 2%;
    max-height: 260px; /* Adjust as needed */
    overflow-y: auto;
    filter: drop-shadow(-5px 18px 13px black);
    font-family: 'Rocher';
    font-palette: 9;
    font-size: 25px;
}

#tableDiv::-webkit-scrollbar {
    display: none;
}

#dtDynamicVerticalScrollExample{
    padding: 1px;
    border-collapse: separate;
    border-spacing: 0 10px;
}

#dtDynamicVerticalScrollExample tbody{
    width: 100%;
    border-collapse: collapse;
}

#dtDynamicVerticalScrollExample th {
    padding: 8px;
    text-align: center;
}

#dtDynamicVerticalScrollExample td {
    padding: 8px;
    text-align: center;
}

#dtDynamicVerticalScrollExample thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: burlywood;
}

#leaderboardText{
    position: absolute;
    font-size: 20px;
    top: 24%;
    left: 10%;
    font-family: 'Rocher';
    font-palette: 9;
    z-index: 2;
}

#leaderboardImage{
    position: absolute;
    left: -127px;
    width: 368px;
    height: 182px;
    top: -59px;
}

#leaderboardH1{
    position: absolute;
    top: 12px;
    left: -31px;
    font-size: 21px;
}

#leaderboardCoverImage{
    position: absolute;
    top: 7%;
    left: -3%;
    height: 90%;
    width: 35%;
}

#btnStartBack{
    position: absolute;
    top: 15px;
    left: 0;
    width: 100px;
    cursor: pointer;
    z-index: 2;
    filter: drop-shadow(-1px 18px 13px black);
    transition-property: width,height;
    transition-duration: 1s;
}

#btnStartBack:hover{
    width:80px ;

}


#btnOpenProfile{
    position: absolute;
    top: 15px;
    right: 0;
    width: 100px;
    cursor: pointer;
    filter: drop-shadow(-1px 18px 13px black);
    transition-property: width,height;
    transition-duration: 1s;
}

#btnOpenProfile:hover{
    width:80px ;
}
