/*welcome page*/
#welcomeImage{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#heading{
    position: absolute;
    right: 0;
    bottom: 29px;
    width: 45%;
}

#button-div{
    position: absolute;
    right: 101px;
    bottom: 10px;
    width: 413px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.welcome-page-button{
    width: 193px;
    height: 53px;
    background-color: transparent;
    border-color: transparent;
    font-size: 25px;
    font-weight: 700;
    color: #EE4510;
    background-image: url("../images/loginbutton.png");
    background-size:cover;
    background-position:center center;
    cursor: pointer;
}

.btnImage{
    position: absolute;
    bottom: 0;
    width: 184px;
    height: 157px;
}

#btnLoginImage{
    position: absolute;
    left: 10px;
}

/*login page*/
.loginImage{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.heading{
    color: white;
    font-weight: 700;
}

.btnLeftBack{
    position: absolute;
    top: 15px;
    left: 0;
    width: 100px;
    cursor: pointer;
    z-index: 2;
}

.form-login{
    position: absolute;
    bottom: 191px;
    right: 62px;
    width: 27%;
    height: 34%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.form-button{
    display: flex;
    justify-content: space-between;
}

.email-input{
    color: black;
}

.email-label{
    color: white;
    font-weight: 500;
}

.password-input{
    color: black;
}

.password-label{
    color: white;
    font-weight: 500;
}

#btnSignIn-login{
    width: 40%;
    background-color: white;
    border: 1px solid transparent;
    color: black;
    font-weight: 700;
}

#btnSignUp-login{
    width: 40%;
    background-color: white;
    border: 1px solid transparent;
    color: black;
    font-weight: 700;
}

/*register page*/
#btnSignIn-register{
    width: 40%;
    background-color: white;
    border: 1px solid transparent;
    color: black;
    font-weight: 700;
}

#btnSignUp-register{
    width: 40%;
    background-color: white;
    border: 1px solid transparent;
    color: black;
    font-weight: 700;
}

.username-input{
    color: black;
}

.username-label{
    color: white;
    font-weight: 500;
}

/*alerts*/
#successAlertSection{
    width: 30%;
    position: relative;
    z-index: 3;
}
#warningAlertSection{
    width: 30%;
    position: relative;
    z-index: 3;
}
#errorAlertSection{
    width: 30%;
    position: relative;
    z-index: 3;
}

/*game page*/
.gameImage{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.form-game{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#scoreHeading{
    width: 98%;
    height: 71px;
    position: absolute;
    top: 16px;
    background-color: white;
    left: 0;
    right: 0;
    margin: auto;
}

#scoreTitle{
    color: black;
    text-align: center;
}

.gamePhoto{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.form-answer-button{
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 50%;
    margin: auto;
}

#btnA1{
    width: 100px;
    background-color: white;
    border: 1px solid transparent;
    color: black;
    font-weight: 500;
    font-size: 25px;
}

#btnA2{
    width: 100px;
    background-color: white;
    border: 1px solid transparent;
    color: black;
    font-weight: 500;
    font-size: 25px;
}

#btnA3{
    width: 100px;
    background-color: white;
    border: 1px solid transparent;
    color: black;
    font-weight: 500;
    font-size: 25px;
}
