/*login page*/
#loginSection{
    /*background-color: rgba(0,0,0,.7);*/
    z-index: 2;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    /*transform: scale(1);*/
    /*background-size: cover;*/
}
.loginImage{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#loginRegisterHeader{
    position: absolute;
    top: 0;
    bottom: 500px;
    left: 0;
    right: 0;
    margin: auto;
    width: 550px;
    height: 190px;
    filter: drop-shadow(-1px 18px 13px black);
}

#loginRegisterFrame{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    margin: auto;
    /*width: 350px;*/
}

.heading{
    color: white;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 40px;
    font-family: 'Rocher';
    font-palette: 9;
}

#headingRegister{
    top: 40px;
}

.btnLeftBack{
    position: absolute;
    top: 15px;
    left: 0;
    width: 100px;
    cursor: pointer;
    z-index: 2;
    filter: drop-shadow(-1px 18px 13px black);
    transition-property: width,height;
    transition-duration: 1s;
}

.btnLeftBack:hover{
    width:80px ;

}

#forEmail{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    filter: drop-shadow(0px 8px 10px black);
    top: 1%;
    width: 321px;
    height: 165px;
}

.form-login{
    /*position: absolute;
    bottom: 191px;
    right: 62px;
    width: 27%;
    height: 34%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #e9ecef;*/

    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 320px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 21px;
    border-radius: 20px;
    filter: drop-shadow(-1px 18px 13px black);
    border: 1px solid white;
    z-index: 2;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
}

.form-button{
    z-index: 5;
    display: flex;
    justify-content: space-between;
}

#email-login{
    position: absolute;
    z-index: 5;
    width: 245px;
    height: 33px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 1%;
    margin: auto;
    background-color: transparent;
    border: 1px solid transparent;
}

.email-input{
    font-family: 'Rocher';
    font-palette: 9;
    color: black;
    /*filter: drop-shadow(-1px 18px 13px black);*/
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.email-label{
    color: white;
    font-family: 'Rocher';
    font-palette: 9;
    font-weight: 500;
}

#forPassword{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: 39%;
    width: 321px;
    height: 165px;
    filter: drop-shadow(0px 8px 10px black);
}

#password-login{
    position: absolute;
    z-index: 5;
    width: 245px;
    height: 33px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 39%;
    margin: auto;
    background-color: transparent;
    border: 1px solid transparent;
}

.password-input{
    font-family: 'Rocher';
    font-palette: 9;
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    /*filter: drop-shadow(-1px 18px 13px black);*/
}

.password-label{
    font-family: 'Rocher';
    font-palette: 9;
    color: white;
    font-weight: 500;
}

#btnSignIn-login{
    width: 40%;
    font-family: 'Rocher';
    font-palette: 9;
}

#forLoginInLogin{
    width: 39%;
    height: 30%;
    top: 70%;
    left: -52%;
    z-index: -1;
}

#forRegisterInLogin{
    width: 39%;
    height: 30%;
    top: 70%;
    left: 52%;
    z-index: -1;
}

#btnSignUp-login{
    width: 40%;
    font-family: 'Rocher';
    font-palette: 9;
}

/*register page*/
/*#registerSection{
    background-color: rgba(0,0,0,.7);
    z-index: 2;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(1);
    background-size: cover;
}*/

#btnSignIn-register{
    font-family: 'Rocher';
    font-palette: 9;
    width: 40%;
}

#btnSignUp-register{
    font-family: 'Rocher';
    font-palette: 9;
    width: 40%;
}

.username-input{
    font-family: 'Rocher';
    font-palette: 9;
    color: black;
    filter: drop-shadow(-1px 18px 13px black);
}

.username-label{
    font-family: 'Rocher';
    font-palette: 9;
    color: white;
    font-weight: 500;
    position: relative;
    top: -50%;
}

#forUsername{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    filter: drop-shadow(0px 8px 10px black);
    top: -15%;
    width: 321px;
    height: 165px;
}

#forEmailInRegister{
    top: 18%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    filter: drop-shadow(0px 8px 10px black);
    width: 321px;
    height: 165px;
}

#forPasswordInRegister{
    top: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    filter: drop-shadow(0px 8px 10px black);
    width: 321px;
    height: 165px;
}

#username-register{
    position: absolute;
    z-index: 6;
    width: 245px;
    height: 33px;
    bottom: 0;
    left: 0;
    right: 0;
    top: -16%;
    margin: auto;
    background-color: transparent;
    border: 1px solid transparent;
}

#forLoginInRegister{
    width: 39%;
    height: 30%;
    top: 74%;
    left: -52%;
    z-index: -1;
}

#forRegisterInRegister{
    width: 39%;
    height: 30%;
    top: 74%;
    left: 52%;
    z-index: -1;
}

#email-register{
    position: absolute;
    z-index: 6;
    width: 245px;
    height: 33px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 18%;
    margin: auto;
    background-color: transparent;
    border: 1px solid transparent;
}

#password-register{
    position: absolute;
    z-index: 6;
    width: 245px;
    height: 33px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 49%;
    margin: auto;
    background-color: transparent;
    border: 1px solid transparent;
}