<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Math Puzzle With tomato API</title>

    <!--styles-->
    <link rel="stylesheet" href="../assets/styles/styleWelcomePage.css">
    <link rel="stylesheet" href="../assets/styles/styleLoginRegisterPage.css">
    <link rel="stylesheet" href="../assets/styles/styleGameStartPage.css">
    <link rel="stylesheet" href="../assets/styles/styleGamePage.css">
    <link rel="stylesheet" href="../assets/styles/styleModels.css">
    <link rel="stylesheet" href="../assets/styles/styleProfilePage.css">

    <!--css-->
    <link rel="stylesheet" href="../assets/jquery/jquery-ui.min.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-...">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">

    <!--js-->
    <script src="../assets/bootstrap/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../assets/bootstrap/css/bootstrap.min.css" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Spicy+Rice&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Lobster+Two:wght@400;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>

<!--start button click audio in homepage-->
<audio id="btnAudio">
    <source src="../assets/audio/mixkit-arcade-game-jump-coin-216.wav" type="audio/mpeg">
</audio>

<section id="welcomeSection">
    <!--loader---->
    <div id="container">
        <img src="../assets/gif/loader.gif" alt="" id="loader">
    </div>
    <div>
        <!--welcome page-fullscreen image-->
        <img src="../assets/images/bg5.png" alt="welcomepage" id="welcomeImage">
        <!--heading with image-->
        <img src="../assets/images/header1.png" alt="" id="header">
        <img src="../assets/images/woodenframe.png" alt="" id="woodenStartBoard">
        <h1 id="main_title">MATH PUZZLE</h1>
    </div>
    <!--sign in & sign up buttons-->
    <div id="button-div">
        <div ontouchstart="">
            <div class="button" id="btnLogin" >
                <a href="#">SIGN IN</a>
            </div>
        </div>
        <div ontouchstart="">
            <div class="button" id="btnRegister">
                <a href="#">SIGN UP</a>
            </div>
        </div>
    </div>
    <div>
        <img src="../assets/images/welcomeTomato.png" alt="welcome tomato" id="welcomeTomatoImage1">
    </div>
    <div>
        <img src="../assets/images/welcomeTomato.png" alt="welcome tomato" id="welcomeTomatoImage2">
    </div>

</section>

<section id="loginSection">
    <div>
        <div>
            <img src="../assets/images/bg5.png" alt="loginPage" class="loginImage">
            <img src="../assets/images/backButton.png" alt="backButton" class="btnLeftBack">
        </div>
        <div class="form-login">
            <div>
                <h1 class="mb-5 heading">LOGIN</h1>
            </div>
            <div class="mb-2 form-email">
                <label for="email-login" class="form-label email-label">EMAIL</label>
                <img src="../assets/images/woodenField1.png" alt="" id="forEmail" class="woodenFields">
                <input type="email" class="form-control email-input" id="email-login">
            </div>
            <div class="mb-4 form-email">
                <label for="password-login" class="form-label password-label">PASSWORD</label>
                <img src="../assets/images/woodenField1.png" alt="" id="forPassword" class="woodenFields">
                <input type="password" class="form-control password-input" id="password-login">
            </div>
            <div class="mb-2 form-button">
                <img src="../assets/images/woodenField1.png" alt="" id="forLoginInLogin" class="woodenFields">
                <button type="button" class="btn" id="btnSignIn-login">SIGN IN</button>
                <img src="../assets/images/woodenField1.png" alt="" id="forRegisterInLogin" class="woodenFields">
                <button type="button" class="btn" id="btnSignUp-login">SIGN UP</button>
            </div>
        </div>
    </div>
</section>

<section id="registerSection">
    <div>
        <img src="../assets/images/bg5.png" alt="loginPage" class="loginImage">
        <img src="../assets/images/backButton.png" alt="loginPage" class="btnLeftBack">
    </div>
    <div class="form-login">
        <div>
            <h1 class="mb-5 heading" id="headingRegister">REGISTER</h1>
        </div>
        <div class="mb-2 form-email">
            <label for="username-register" class="form-label username-label">USERNAME</label>
            <img src="../assets/images/woodenField1.png" alt="" id="forUsername" class="woodenFields">
            <input type="text" class="form-control username-input" id="username-register">
        </div>
        <div class="mb-2 form-email">
            <label for="email-register" class="form-label email-label">EMAIL</label>
            <img src="../assets/images/woodenField1.png" alt="" id="forEmailInRegister" class="woodenFields">
            <input type="email" class="form-control email-input" id="email-register">
        </div>
        <div class="mb-4 form-email">
            <label for="password-register" class="form-label password-label">PASSWORD</label>
            <img src="../assets/images/woodenField1.png" alt="" id="forPasswordInRegister" class="woodenFields">
            <input type="password" class="form-control password-input" id="password-register">
        </div>
        <div class="mb-2 form-button">
            <img src="../assets/images/woodenField1.png" alt="" id="forLoginInRegister" class="woodenFields">
            <button type="button" class="btn" id="btnSignIn-register">SIGN IN</button>
            <img src="../assets/images/woodenField1.png" alt="" id="forRegisterInRegister" class="woodenFields">
            <button type="button" class="btn" id="btnSignUp-register">SIGN UP</button>
        </div>
    </div>
</section>

<section id="gameStartSection">
    <div>
        <img src="../assets/images/bg5.png" alt="gameStartPage" class="gameImage">
        <img src="../assets/images/backButton.png" alt="loginPage" class="btnLeftBack">
        <img src="../assets/images/follow-5084833-4263863.webp" alt="navigateProfileSection" id="btnOpenProfile">
    </div>
    <div class="gameStartForm">
        <div>
            <h1 class="mb-5 startHeading">START GAME</h1>
            <img src="../assets/images/woodenStartBoard.png" alt="woodenStartBoard" id="woodenLevelBoard">
            <h2 class="mb-5 levelTitle">LEVEL</h2>
            <img src="../assets/images/levelboard.png" alt="levelBoard" id="levelBoard">
            <h6 class="mb-5 levelCount"></h6>
            <div ontouchstart="">
                <div class="button" id="btnPlay" >
                    <a href="#">PLAY</a>
                </div>
            </div>
        </div>
        <div id="headerBar">
            <div>
                <img src="../assets/images/woodenField.png" alt="score" class="barInStart">
                <img src="../assets/images/woodenButton.png" alt="score" class="btnInStart1">
                <img src="../assets/images/start.png" alt="score" class="btnInStart1Icon">
                <div id="scoreCount"><h3 id="fullScoreCount"></h3></div>
            </div>
            <div>
                <img src="../assets/images/woodenField.png" alt="score" class="barInStart">
                <img src="../assets/images/woodenButton.png" alt="score" class="btnInStart2">
                <img src="../assets/images/reward.png" alt="score" class="btnInStart2Icon">
                <div id="levelCount"><h3 id="fullRewardCount"></h3></div>
            </div>

        </div>
    </div>
    <div>
        <div id="leaderboardText">
            <img id="leaderboardImage" src="../assets/images/ribbon.png">
            <h3 id="leaderboardH1">LEARDERBOARD</h3>
        </div>
        <div>
            <img id="leaderboardCoverImage" src="../assets/images/sideboard.png" alt="">
        </div>
        <div id="tableDiv" class="table-responsive">
            <table id="dtDynamicVerticalScrollExample" class="" cellspacing="5" width="100%">
                <thead>
                    <tr>
                        <th scope="col" class="th-sm">Rank</th>
                        <th scope="col" class="th-sm">Name</th>
                        <th scope="col" class="th-sm">Score</th>
                        <th scope="col" class="th-sm">Reward</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
    <div><img src="../assets/images/score.png" alt="score" class="tomatoInStart"></div>
</section>

<section id="playSection">

    <!--play background-->
    <div>
        <img src="../assets/images/bg5.png" alt="gamePage" class="gameImage">
        <img src="../assets/images/backButton.png" alt="loginPage" class="btnLeftBack">
    </div>
    <div class="mb-2 form-answer-button">
        <img src="../assets/images/answerbutton2.png" alt="gamePage" class="btnAnswers">
        <img src="../assets/images/answerbutton2.png" alt="gamePage" class="btnAnswers">
        <img src="../assets/images/answerbutton2.png" alt="gamePage" class="btnAnswers">
        <img src="../assets/images/answerbutton2.png" alt="gamePage" class="btnAnswers">
        <img src="../assets/images/answerbutton2.png" alt="gamePage" class="btnAnswers">
        <img src="../assets/images/answerbutton2.png" alt="gamePage" class="btnAnswers">
        <img src="../assets/images/answerbutton2.png" alt="gamePage" class="btnAnswers">
        <img src="../assets/images/answerbutton2.png" alt="gamePage" class="btnAnswers">
        <img src="../assets/images/answerbutton2.png" alt="gamePage" class="btnAnswers">
        <img src="../assets/images/answerbutton2.png" alt="gamePage" class="btnAnswers">
    </div>
    <div class="mb-2 form-answer-button">
        <button type="button" class="btn btnAnswers" id="btnA1">0</button>
        <button type="button" class="btn btnAnswers" id="btnA2">1</button>
        <button type="button" class="btn btnAnswers" id="btnA3">2</button>
        <button type="button" class="btn btnAnswers" id="btnA4">3</button>
        <button type="button" class="btn btnAnswers" id="btnA5">4</button>
        <button type="button" class="btn btnAnswers" id="btnA6">5</button>
        <button type="button" class="btn btnAnswers" id="btnA7">6</button>
        <button type="button" class="btn btnAnswers" id="btnA8">7</button>
        <button type="button" class="btn btnAnswers" id="btnA9">8</button>
        <button type="button" class="btn btnAnswers" id="btnA10">9</button>
    </div>
    <div class="menuFrame">
        <img src="../assets/images/time.png" alt="" class="menu" id="menu1">
        <img src="../assets/images/time.png" alt="" class="menu" id="menu2">
        <img src="../assets/images/time.png" alt="" class="menu" id="menu3">
        <img src="../assets/images/time.png" alt="" class="menu" id="menu4">
    </div>
    <div class="menuFrame">
        <img src="../assets/images/start.png" alt="" class="menu" id="star">
        <img src="../assets/images/heart.png" alt="" class="menu" id="heart">
        <img src="../assets/images/reward.png" alt="" class="menu" id="reward">
        <img src="../assets/images/timer.png" alt="" class="menu" id="timerIcon">
    </div>
    <div class="menuFrame">
        <h2 class="menu" id="fullScore">0</h2>
        <h2 class="menu" id="lives">+3</h2>
        <h2 class="menu" id="rewardCountPerLevel">1</h2>
        <h2 class="menu" id="time">1</h2>
    </div>
    <h1 id="display_level_header">LEVEL <span id="display_level_header_count">1</span></h1>

    <img src="../assets/images/star-badge-6953316-5703390.webp" alt="" class="levelHeading">

    <div><img src="../assets/images/score.png" alt="score" id="tomatoInStart"></div>

    <!--play canvas-->
    <div id="main_container">
        <img src="../assets/images/5196-4P-1-Wood-Texture.jpg" alt="" id="canvasbg">
        <img src="" alt="game" class="game" id="tomatoGame">
        <canvas id="canvas"></canvas>
    </div>

    <!--try again model---->;
    <div class="try_again_container">
        <img src="../assets/images/hanging1.png" alt="" class="try_again_bg">
        <img src="../assets/images/ribbon.png" alt="" class="loseImage">
        <img src="../assets/icons/icons8-multiply-60.png" alt="" id="close_try_model">
        <div class="model">
            <h1 class="lose_text">YOU LOSE</h1>
            <img src="../assets/images/result.png" alt="" id="btnReplay">
            <img src="../assets/images/woodenField1.png" alt="" id="woodenFieldsForScore" class="woodenFields">
            <h1 id="scorePerGame">SCORE : <span>-5</span></h1>
            <h1 id="lifePerGame">LIVES : <span id="livesforTry"></span></h1>
            <img src="../assets/images/woodenField1.png" alt="" id="woodenFieldsForLives" class="woodenFields">
        </div>
        <div><img src="../assets/images/sad.png" alt="score" class="tomatoInStart"></div>
    </div>

</section>

<section id="profileSection">
    <div>
        <img src="../assets/images/bg5.png" alt="gameStartPage" class="gameImage">
        <img src="../assets/images/backButton.png" alt="loginPage" id="btnStartBack">
    </div>
    <div class="profileForm">
        <img src="../assets/images/frame11.png" alt="profile" id="profileFrame">
        <img src="../assets/images/follow-5084833-4263863.webp" alt="profile" id="profileLogo">
        <div class="image-upload">
            <label for="file-input">
                <img src="../assets/images/camera-icon-pink-3d-render-png.webp"/>
            </label>
            <input id="file-input" type="file"/>
        </div>
        <h1 id="profileTitle">MY PROFILE</h1>
        <h2 id="profileNameTitle">NAME :</h2>
        <h3 id="profileName">user</h3>
        <h2 id="profileEmailTitle">EMAIL :</h2>
        <h3 id="profileEmail">user@gmail.com</h3>
    </div>

    <div><img src="../assets/images/score.png" alt="score" class="tomatoInStart"></div>
</section>

<section id="model_container">
    <div>
        <img src="../assets/images/bg5.png" alt="gamePage" class="gameImage">
        <img src="../assets/images/backButton.png" alt="loginPage" class="btnLeftBack" id="backToStart">
    </div>

    <img src="../assets/images/hanging1.png" alt="" class="try_again_bg">
    <img src="../assets/images/ribbon.png" alt="" class="loseImage">
    <div class="model">
        <h1 class="lose_text">GAME OVER</h1>
        <img src="../assets/images/result.png" alt="" id="btnNext">
        <img src="../assets/images/woodenField1.png" alt="" id="woodenFieldsForScoreOver" class="woodenFields">
        <h1 id="fullScorePerGame">SCORE : <span class="fullScoreForFail">0</span></h1>
        <h1 id="levelPerGame">LEVEL : <span id="levelforFail"></span></h1>
        <img src="../assets/images/woodenField1.png" alt="" id="woodenFieldsForLevels" class="woodenFields">
    </div>

    <div><img src="../assets/images/sad.png" alt="score" class="tomatoInStart"></div>

    <!--game over sound-->
    <audio id="gameover_audio">
        <source src="../assets/audio/mixkit-player-losing-or-failing-2042.wav" type="audio/mpeg">
    </audio>

</section>

<!--win model---->;
<section id="win_container">
    <div>
        <img src="../assets/images/bg5.png" alt="gamePage" class="gameImage">
        <img src="../assets/images/backButton.png" alt="loginPage" class="btnLeftBack" id="backToStartFromWin">
    </div>

    <img src="../assets/images/hanging1.png" alt="" class="try_again_bg">
    <img src="../assets/images/ribbon.png" alt="" class="loseImage">
    <div class="model">
        <h1 class="lose_text">YOU WIN</h1>
        <img src="../assets/images/sideboard.png" alt="" id="levelUp">
        <img src="../assets/images/victory-9006300-7388017.webp" alt="" id="victoryStar">
        <h1 id="victoryLevel">1</h1>
        <h1 id="victoryLevelText">LEVEL</h1>
        <img src="../assets/images/congracts.png" alt="" id="woodenFieldsForTarget" class="woodenFields">
        <h1 id="target">TARGET : <span>30</span></h1>
        <h1 id="fullScorePerGameInWin">SCORE : <span class="fullScoreForFail">0</span></h1>
        <img src="../assets/images/woodenField1.png" alt="" id="woodenFieldsForTime" class="woodenFields">
        <button id="btnNextLevel">NEXT LEVEL</button>
        <h1 id="timePerGame">TIME : <span id="timePerGameForWin">2</span></h1>
        <h1 id="rewardPerGame">REWARD : <span id="rewardPerGameForWin">1</span></h1>
    </div>

    <div><img src="../assets/images/welcomeTomato.png" alt="score" class="tomatoInStart"></div>

    <!--game win sound-->
    <audio id="gamewin">
        <source src="../assets/audio/mixkit-medieval-show-fanfare-announcement-226.wav" type="audio/mpeg">
    </audio>
</section>

<section id="successAlertSection">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div id="successAlert">
            Success
        </div>
    </div>
</section>

<section id="warningAlertSection">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div id="warningAlert">
            Warning
        </div>
    </div>
</section>

<section id="errorAlertSection">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div id="errorAlert">
            Error
        </div>
    </div>
</section>

<script src="../assets/jquery/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../controller/DashBoard.js"></script>
<script src="../controller/LoginController.js"></script>
<script src="../controller/GameController.js"></script>
<script src="../controller/ProfileController.js"></script>
<script>
    $(document).ready(function() {
        // Delay for 5 seconds and then fade out in 0.5 seconds
        $('#successAlertSection').delay(5000).fadeOut(500);
        $('#warningAlertSection').delay(5000).fadeOut(500);
        $('#errorAlertSection').delay(5000).fadeOut(500);

    });

    $(window).on('load',function () {
        $("#container").fadeOut(1000);
    });

    $(".btnLeftBack,#btnRegister,#btnLogin,#btnSignIn-login,#btnSignIn-register,#btnSignUp-login,#btnSignUp-register,#btnPlay,#btnA1,#btnA2,#btnA3,#btnA4,#btnA5,#btnA6,#btnA7,#btnA8,#btnA9,#btnA10,#btnReplay,#close_try_model,#btnNextLevel,#btnOpenProfile").on('click',function () {
        var audio = $("#btnAudio")[0];
        audio.play();
    });

</script>

</body>
</html>